* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    text-align: center;
    background: rgba(27, 126, 255, 0.39);
    font: normal 15pt Arial;
}

header{
    margin-top: 40px;
    margin-bottom: 20px;
    color: rgb(241, 237, 237);
}

section {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    
}

p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.button {
    width: 100px;
    height: 23px;
    border: none;
    background-color: rgba(80, 43, 43, 0.253);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.13);
}

.button:hover {
    cursor: pointer;
    background-color: rgba(129, 127, 127, 0.274);
}

#mensagem {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    font-style: italic;
}

img {
    margin-top: 18px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
